<?xml version="1.0" encoding="utf-8" ?>
<routes>
    <!--    Route d'accès à l'accueil depuis l'url de base du site-->
    <route url="/" module="Chapters" action="showallchapters"/>

    <route url="/visitor/showallchapters" module="Chapters" action="showallchapters"/>
    <route url="/visitor/commentonechapter" module="Comments" action="commentonechapter"/>
    <route url="/visitor/showonechapter" module="Chapters" action="showonechapter"/>
    <route url="/visitor/warningoncomment" module="Comments" action="warningoncomment"/>
</routes>


<!-- Exemple de route :
<routes>
    <route url="/news.html" module="News" action="index" ></route>
</routes>
-->

<!-- Avec des regex, les routes pourraient prendre le format suivant :
    <route url="/news-(.+)-([0-9]+)\.html" module="News" action="show" vars="slug,id" />
-->
