

body
{
    width: 100%;
    margin: 0px 0px;
    font-family: 'Muli', Arial, Verdana, Georgia, sans-serif;
    color: rgb(39, 39, 39);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

header
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: lavender;
    position: fixed;
    z-index: 10;
}

*:visited
{
    color: black;
}

a
{
    text-decoration: none;
}

.icone_burgermenu
{
    display: none;
}

#titre_accueil
{
    font: bold;
    font-size: 30px;
    text-align: center;
    width: 450px;
    margin-left: calc(50% - 225px);
    margin-top: 15px;
    margin-bottom: 15px;
}

h1
{
    color: black;
}

.menu_entete
{
    margin-right: 10px;
}

.bouton_menu_backend, .bouton_menu_frontend
{
    width: auto;
    padding: 5px;
    text-align: center;
    background-color: mistyrose;
    border: 2px black solid;
    border-radius: 5px;
}

.bouton_menu_backend a, .bouton_menu_frontend a
{
    text-decoration: none;
}

.bouton_menu_backend:hover
{
    background-color: lightskyblue;
    box-shadow: 5px 5px 10px black;
}


.corps_de_page
{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.create_new_chapter
{
    margin: 30px;
}

#chapter_number
{
    width: 40px;
}

#chapter_title
{
    width: 100%;
}


.new_chap_form
{
    width: 80%;
}



.create_new_chapter input[name="newchap_submit_button"]
{
    font-size: 40px;
    color: mintcream;
    background-color: forestgreen;
    padding: 3px;
    border-radius: 5px;
}

.create_new_chapter input[name="newchap_submit_button"]:hover
{
    background-color: limegreen;
}


.corps_de_page .liste_accueil_admin, .chap_view
{
    width: 80%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.corps_de_page .list_chap, .chapter_bloc
{
    height: auto;
    list-style-type: none;
    border: 2px #006699 solid;
    background-color: lavender;
    margin-bottom: 30px;
    border-radius: 5px;
}

.list_chap
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chapter_bloc
{
    height: auto;
    padding: 5px;
}


.chap_title
{
    width: 100%;
    text-align: center;
    font-size: 50px;
}

.chap_title_accueil_admin, .chap_title_accueil_visitor, .chap_text_accueil_admin, .chap_text_accueil_visitor
{
    height: auto;
    padding: 5px;
}

.chap_text_accueil_admin:first-child
{
    height: 20px;
    white-space: nowrap;
}

input[type="submit"]
{
    background-color: gold;
    border-radius: 3px;
}


input[type="submit"]:hover
{
    background-color: slateblue;
}


.chap_title_accueil_admin, .chap_title_accueil_visitor, .chap_title_showonechapter_visitor,
.comment_showonechapter_visitor
{
    background-color: lightskyblue;
}

.boutons_accueil_admin
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.boutons_accueil_admin, form
{
    margin: 3px;
}

.corps_de_page .list_commentaires_showonechapter_visitor
{
    width: 100%;
}

.list_commentaires_showonechapter_visitor li, .comments_with_warnings li, .comments_with_no_warnings li
{
    list-style-type: none;
    border: 2px #006699 solid;
    background-color: lavender;
    margin-bottom: 30px;
    border-radius: 5px;
    padding: 5px;
}

.comment_showonechapter_visitor
{
    background-color: lavender;
}

.comment_showonechapter_content
{
    background-color: lightskyblue;
}

footer
{
    width: 100%;
    padding-top: 5px;
    background-color: lavender;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
}

footer a
{
    text-decoration: underline;
}

.copyright
{
    padding: 5px;
}


/*Affichage des erreurs*/

.affichage_exception
{
    background-color: coral;
    padding: 5px;
    border: red solid 5px;
    border-radius: 5px;
}



/* Media Queris */

@media all and (max-width: 980px)
{
    #titre_accueil
    {
        font-size: 60px;
    }

    header a, .corps_de_page a, .corps_de_page p, input[type="submit"], .acces_valide, .acces_refuse
    {
        font-size: 30px;
    }

    label
    {
        font-size: 30px;
    }

    input
    {
        font-size: 25px;
    }

    .corps_de_page
    {
        margin-top: 200px;
        margin-bottom: 100px;
    }

    footer
    {
        font-size: 30px;
    }
}
