

body
{
    width: 100%;
    margin: 0px 0px;
    font-family: 'Muli', Arial, Verdana, Georgia, sans-serif;
    color: rgb(39, 39, 39);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

header
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: lavender;
    position: fixed;
}

.icone_burgermenu
{
    display: none;
}

#titre_accueil
{
    font: bold;
    font-size: 30px;
    text-align: center;
    width: 450px;
    margin-left: calc(50% - 225px);
}


.list_menu_entete
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}


h1
{
    color: black;
}

.menu_entete
{
    margin-right: 10px;
}

.bouton_menu_backend, .bouton_menu_frontend
{
    width: auto;
    /*height: auto;*/
    padding: 5px;
    text-align: center;
    background-color: mistyrose;
    border: 2px black solid;
    border-radius: 5px;
}

.bouton_menu_backend a, .bouton_menu_frontend a
{
    text-decoration: none;
}

.bouton_menu_backend:hover
{
    background-color: lightskyblue;
    box-shadow: 5px 5px 10px black;
}



.corps_de_page
{
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.create_new_chapter
{
    margin: 30px;
}

#chapter_number
{
    width: 40px;
}

#chapter_title
{
    width: 100%;
}


.new_chap_form
{
    width: 80%;
}



.create_new_chapter input
{
    font-size: 40px;
    color: mintcream;
    background-color: forestgreen;
    padding: 3px;
    border-radius: 5px;
}

.create_new_chapter input:hover
{
    background-color: limegreen;
}


.corps_de_page .liste_accueil_admin, .chap_view
{
    width: 80%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.corps_de_page .list_chap, .chapter_bloc
{
    height: 110px;
    list-style-type: none;
    border: 2px #006699 solid;
    background-color: lavender;
    margin-bottom: 30px;
    border-radius: 5px;
}


.chapter_bloc
{
    height: auto;
    padding: 5px;
}


.chap_title
{
    width: 100%;
    text-align: center;
    font-size: 50px;
}

.chap_title_accueil_admin, .chap_title_accueil_visitor
{
    height: 20px;
}

/*
.list_chap
{
    font-size: 60px;
}
*/


.chap_text_accueil_admin
{
    /*height: 150px;*/
}


.chap_text_accueil_admin:first-child
{
    height: 20px;
    white-space: nowrap;
}



/*
.chap_text_accueil_admin:first-child, .chap_text_accueil_visitor:first-child
{
    height: 35px;
    text-overflow: ellipsis;
}
*/


/*
li .boutons_accueil_admin
{
    height: 25px;
}
*/


.list_chap input
{
    background-color: gold;
    border-radius: 3px;
}

.list_chap input:hover
{
    background-color: slateblue;
}


.chap_title_accueil_admin, .chap_title_accueil_visitor, .chap_title_showonechapter_visitor,
.comment_showonechapter_visitor
{
    background-color: lightskyblue;
}

.boutons_accueil_admin
{
    height: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.boutons_accueil_admin, form
{
    margin: 3px;
}

.corps_de_page .list_commentaires_showonechapter_visitor
{
    width: 100%;
}

.list_commentaires_showonechapter_visitor li
{
    list-style-type: none;
    border: 2px #006699 solid;
    background-color: lavender;
    margin-bottom: 30px;
    border-radius: 5px;
}

.comment_showonechapter_visitor
{
    background-color: lavender;
}

.comment_showonechapter_content
{
    background-color: lightskyblue;
}

footer
{
    width: 100%;
    background-color: lavender;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
}

.copyright
{
    padding: 5px;
}


/*Affichage des erreurs*/

.affichage_exception
{
    background-color: coral;
    padding: 5px;
    border: red solid 5px;
    border-radius: 5px;
}



/* Media Queris */

@media all and (max-width: 980px)
{
    .menu_entete
    {
        display: none;
    }

    .icone_burgermenu
    {
        display: block;
        width: auto;
        /*height: auto;*/
        margin-right: 10px;
        padding: 5px;
        text-align: center;
        background-color: darkturquoise;
        border: 2px black solid;
        border-radius: 5px;
    }
}
