

body
{
    width: 100%;
    margin: 0px 0px;
    font-family: 'Muli', Arial, Verdana, Georgia, sans-serif;
    color: rgb(39, 39, 39);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

header
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: lavender;
    position: fixed;
}

.icone_burgermenu
{
    display: none;
}

#titre_accueil
{
    width: 450px;
    margin-left: calc(50% - 225px);
}


.list_menu_entete
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}



h1
{
    color: black;
}

.menu_entete
{
    margin-right: 10px;
}

.bouton_menu_backend, .bouton_menu_frontend
{
    width: auto;
    /*height: auto;*/
    padding: 5px;
    text-align: center;
    background-color: mistyrose;
    border: 2px black solid;
    border-radius: 5px;
}

.bouton_menu_backend a, .bouton_menu_frontend a
{
    text-decoration: none;
}

.bouton_menu_backend:hover
{
    background-color: lightskyblue;
    box-shadow: 5px 5px 10px black;
}



.corps_de_page
{
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.corps_de_page li
{
    list-style-type: none;
    width: 80%;
    border: 2px #006699 solid;
    background-color: lightskyblue;
}



footer
{
    width: 100%;
    background-color: lavender;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
}

.copyright
{
    padding: 5px;
}



/* Media Queris */

@media all and (max-width: 980px)
{
    .menu_entete
    {
        display: none;
    }

    .icone_burgermenu
    {
        display: block;
        width: auto;
        /*height: auto;*/
        margin-right: 10px;
        padding: 5px;
        text-align: center;
        background-color: darkturquoise;
        border: 2px black solid;
        border-radius: 5px;
    }
}
